@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Odibee+Sans&family=Oleo+Script+Swash+Caps:wght@400;700&family=Playfair+Display:ital@1&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

main{
    background: #273978;
    width: 50%;
    margin: 2vh auto;
    font-family:'Macondo', cursive;
    color: white;
    padding: 1% 0;
    text-align: center;
}
h1{
    font-size: 4em;
    margin: 0 auto 1vh;
}

section{
    display: flex;
    justify-content: space-around;
}

figure{
    width: 25%;
    margin: 1vh 2vw;
}

figcaption{
    font-size: 1.5em;
}


img{
    width: 200px;
}